.TopUtilityBar {
display:flex;
}


.DropDown {
  position: relative;
float: right;
}

.DropDown-Menu {
  position: absolute;
  /* Initial hidden state */
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  background-color: transparent;
  padding: 0.75rem;
  border-radius: 0.25rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.DropDown.active > .DropDown-Menu {
  /* Active state when the menu is visible */
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
  backdrop-filter: blur(5px)
}
